p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    border-radius: 0 2px 2px 0;
    color: blue;
}

* {
    background: #FFF;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-size: 16px;
    color: #222;
    font-family:  sans-serif;
    font-weight: 300;
    text-align: center;
  }
  
  #signup-box {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 900px;
    height: 700px;
    /* background: #FFF; */
    border-radius: 2px;
    float: left;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    color: #000080;
    font-family: ff-good-headline-web-pro-condensed;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .08em;
    line-height: 1em;
    position: relative;   
  }
  
  input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    border-radius: 0 4px 4px 0;
    text-align: left;
  }

  ::placeholder {
      color: #0066FF;
  }
  
  .submit {
    margin-top: 28px;
    width: 120px;
    height: 50px;
    background: #87CEFA;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    float: right;
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .submit:hover,
  .submit:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .box {
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 500px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;  
  }

    p {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-align: left;
        color: #191970;
    }

    label {
        color: #000080;
    }


input[type=checkbox] {
  transform: scale(.6);
}

input[type=checkbox] {
  width: 180px;
  height: 20px;
  /* margin-right: 0px; */
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #000080;
  width: 22px;
  height: 25px;
  visibility: visible;
  border: 3px solid #000080;
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}
  
  