
body {
    background-image: url('../../assets/img/ASCEND_WebBanner_5.jpg');
    background-color: #cccccc;
    background-size: 100%;
   }

   h1 {
       color: rgb(2, 2, 182);
       text-align: center;
   }

   .w3-container {
       padding: 50px;
       text-align: center;
   }

  .button {
    background-color: rgb(255, 255, 255);
    border: 2px solid #868585;    
    color:rgb(25, 63, 235);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    font-family: ff-good-headline-web-pro-condensed;
    font-style: normal;
    letter-spacing: .08em;
    text-transform: uppercase;
    line-height: 1em;   
  }